@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@theme {
  /* Colores de Vault Financial Bank */
  --color-primary: #0A2540;
  --color-secondary: #1E3A8A;
  --color-accent: #22D3EE;
  --color-bg-light: #FFFFFF;
  --color-bg-dark: #0A0F1C;
  --color-card-light: #FFFFFF;
  --color-card-dark: #1F2937;
  --color-text-light: #111827;
  --color-text-dark: #F3F4F6;
}

/* Personalización de dark mode */
@custom-variant dark (&:where(.dark, .dark *>));

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    color: var(--color-text-light);
    background-color: var(--color-bg-light);
  }

  @variant dark {
    html {
      color: var(--color-text-dark);
      background-color: var(--color-bg-dark);
    }
  }
}